{% extends "base.html" %} {% block content %}
<section>
  <div class="container py-5">
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-auto">
        <div class="heading-1">
          <h1 class="text-center">Profile Details</h1>
          <div class="hl"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img src="{{object.image.url}}" alt="" class="card-img-top" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{object}}</h4>
            <div class="hr m-0 mb-3"></div>
            <p class="card-text">First Name: {{object.first_name}}</p>
            <p class="card-text">Last Name: {{object.last_name}}</p>
            <p class="card-text">Gender: {{object.gender}}</p>
            <div class="mb-3">
              <p class="card-title">Addresses:</p>

              {% for address in object.addresses.all %}
              <p class="card-text">{{forloop.counter}}) {{address}}</p>
              {% empty %}
              <p class="card-text">
                Address:
                <a
                  href="{% url 'core:address_create' object.id %}"
                  class="link-primary"
                >
                  Create
                </a>
              </p>
              {% endfor %}
            </div>

            <a
              href="{% url 'core:profile_update' object.id %}"
              class="btn btn-dark rounded-pill py-3 px-4"
              >Update</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
