{% extends 'base.html' %} {% load static %} {% block content %}

<!-- about us start -->
<section class="about-section">
  <div class="container py-5">
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-auto">
        <div class="heading-1">
          <h1 class="text-center">About Us</h1>
          <div class="hl"></div>
        </div>
      </div>
    </div>
    <div class="row align-items-lg-center mb-5">
      <div class="col-lg-6">
        <div class="card">
          <img src="{% static 'img/jintha_pic.jpg' %}" class="card-img" alt="" />
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <h3>Jinitha George</h3>
        <p>
          “Business Development Executive Manager of E-shoooing Business
          Development and VP, and he was the business organizer strategic
          initiatives, business partnerships, market development, business
          expansion, and marketing—all of these fields are involved in business
          development but are often mixed up and mistakenly viewed as the sole
          function of business development. ”
        </p>
      </div>
    </div>
    <div class="row align-items-lg-center mb-5">
      <div class="col-lg-6 text-center">
        <h3>Jennifer Mathew</h3>
        <p>
          "Business development activities extend across different departments,
          including sales, marketing, project management, product management,
          and vendor management Jennifer Mathew is the over all controling
          officer of ouer bussiness enterprices.Networking, negotiations,
          partnerships, and cost-savings efforts are also involved. All of these
          different departments and activities are driven by and aligned with
          the business development goals.""
        </p>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img src="{% static 'img/partner3.jpg' %}" class="card-img" alt="" />
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-auto">
        <div class="heading-1">
          <h3 class="text-center">What's New?</h3>
          <div class="hl"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          E-shopping automation is a key growing element of online business.
          This stretches from marketing automation to warehousing and beyond. At
          this stage every department or business unit has an element that can
          be automated to an extent.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- about us end -->

{% endblock content %}
